checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
dependenciesOnly=false
projectPerFolder=false
#projectPerFolderIncludes=
#projectPerFolderExcludes=
wss.connectionTimeoutMinutes=60
npm.resolveDependencies=true
npm.includeDevDependencies=true
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=false
npm.yarnProject=false
npm.ignoreSourceFiles=true
bower.resolveDependencies=true
bower.runPreStep=true
bower.ignoreSourceFiles=true
nuget.resolveDependencies=true
nuget.restoreDependencies=false
nuget.ignoreSourceFiles=true
nuget.runPreStep=true=true
python.resolveDependencies=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.resolveSetupPyFiles=true
python.ignoreSourceFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
maven.ignoredScopes=
maven.resolveDependencies=true
maven.aggregateModules=false
maven.runPreStep=true
maven.ignorePomModules=true
maven.ignoreSourceFiles=true
maven.ignoreMvnTreeErrors=true
gradle.ignoredScopes=
gradle.resolveDependencies=true
gradle.runAssembleCommand=true
gradle.aggregateModules=false
gradle.ignoreSourceFiles=true
gradle.runPreStep=true
paket.resolveDependencies=true
paket.ignoredGroups=
paket.runPreStep=true
paket.exePath=
paket.ignoreSourceFiles=true
go.resolveDependencies=true
go.collectDependenciesAtRuntime=true
go.dependencyManager=
go.ignoreSourceFiles=true
ruby.resolveDependencies=true
ruby.installMissingGems=true
ruby.runBundleInstall=true
ruby.ignoreSourceFiles=true
ruby.overwriteGemFile=false
sbt.resolveDependencies=true
sbt.aggregateModules=false
sbt.runPreStep=true
sbt.ignoreSourceFiles=true
php.resolveDependencies=true
php.runPreStep=true
php.includeDevDependencies=true
html.resolveDependencies=true
cocoapods.resolveDependencies=true
cocoapods.runPreStep=true
cocoapods.ignoreSourceFiles=true
hex.resolveDependencies=true
hex.runPreStep=true
hex.ignoreSourceFiles=true
hex.aggregateModules=false

includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c\+\+ **/*.h **/*.hh **/*.hpp **/*.hxx **/*.h\+\+ **/*.m **/*.mm **/*.pch **/*.c# **/*.cs **/*.csharp **/*.go **/*.goc **/*.pl **/*.plx **/*.pm **/*.ph **/*.cgi **/*.fcgi **/*.pod **/*.psgi **/*.al **/*.perl **/*.t **/*.pl6 **/*.p6m **/*.p6l **/*.pm6 **/*.nqp **/*.6pl **/*.6pm **/*.p6 **/*.php **/*.rb **/*.swift **/*.java **/*.clj **/*.cljx **/*.cljs **/*.cljc **/*.jar **/*.egg **/*.tar.gz **/*.tgz **/*.zip **/*.whl **/*.gem **/*.apk **/*.air **/*.dmg **/*.exe **/*.gem **/*.gzip **/*.msi **/*.nupkg **/*.swc **/*.swf **/*.tar.bz2 **/*.pkg.tar.xz **/*.(u)?deb **/*.(a)?rpm 
excludes=**/superagent/docs/.html */jmespath/index.html */nlf/reports/coverage.html
case.sensitive.glob=false
followSymbolicLinks=true
archiveExtractionDepth=2
archiveIncludes=**/*.war **/*.ear **/*.zip **/*.whl **/*.tar.gz **/*.tgz **/*.tar **/*.car
archiveExcludes=**/*sources.jar **/*javadoc.jar **/tests/**
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
scanPackageManager=false
#docker.includes=
#docker.excludes=
docker.scanImages=false
docker.scanContainers=false
log.level=debug
sendLogsToWss=true
#updateType=
#requesterEmail=

# fill or comment out the following as needed:
wss.url=
apiKey=
userKey=
projectName=
projectVersion=
projectToken=
productName=
productVersion=
productToken=
